
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


@Html.ActionLink("Artists Panel", "Index", "Artists", new { area = "" }, new { @class = "btn btn-success" })

@Html.ActionLink("Track Panel", "Index", "MusicTracks", new { area = "" }, new { @class = "btn btn-success" })
