
@model IEnumerable<MusicWebShopProject.Models.MusicTrack>


<link href="~/Content/homeIndex.css" rel="stylesheet" />


<div class="row">
    <div class="col-md-3">

    </div>

    <div id="mainView" class="col-md-9">
        <input type="search" class="form-control searchbar" placeholder="Search"/>
        <div>
            @foreach (var item in Model)
            {
                <div class="trackCard" data-trackID="@item.ID">
                    <div class="trackImg">
                        @if (item.TrackImg != null)
                        {
                            <img src="data:image/jpg;base64,@Convert.ToBase64String(item.TrackImg)" />
                        }
                        else
                        {
                            <div class="" style="background-color:#FFF; height: 50px; width:50px;"></div>
                        }
                    </div>
                    <div class="trackDetails">@item.Name</div>
                    <div class="trackPrice">@item.Price$</div>
                </div>
            }
        </div>
    </div>
</div>


<div id="playerContainer" >
    <div id="audioPlayerControls">
        <div id="prevBtn" class="glyphicon glyphicon-step-backward controlBarBtn">

        </div>

        <div id="playBtn" class="glyphicon glyphicon-play controlBarBtn">

        </div>

        <div id="pauseBtn" class="glyphicon glyphicon-pause controlBarBtn" style="display: none;" >

        </div>

        
        <div id="nextBtn" class="glyphicon glyphicon-step-forward controlBarBtn">

        </div>

        <div id="progressBar">
            <div id="progressIndeicator"></div>
        </div>
    </div>
    <audio id="audioPlayer">
        <source src="" type="" />
    </audio>
</div>




<script src="~/Scripts/homeIndex.js"></script>